.container{
	display: flex;
	.nav-left{
		width:15%;
		min-width: 180px;
		height: calc(100vh);
		background-color: red;
		font-size: 30px
	}
	.main{
		flex: 1;
		height: calc(100vh);
	}
	.content{
		padding: 20px;
		position: relative;
	}
}